<launch>

    <param name="radius"	type="double"	value="0.07"/>
    <param name="lenght"        type="double"   value="0.20"/>
    <param name="width"		type="double"	value="0.169"/>
    <param name="cpr"       type="int"      value="42"/>

    <node pkg="Prj1" type="Node1" name="velocities_calculator" output="screen" />

</launch>
